body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 15px;
  flex-wrap: wrap;
}

.main-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  opacity: 90%;
}

a.secondary-text {
  color: rgb(172, 171, 171);
  font-size: 18px;
  text-decoration: none;
}

div.header-logo-text {
  font-weight: bolder;
  font-size: 24px;
  color: #f9faf8;
  flex-shrink: 0;
  margin-right: 15px;
}

.header-container {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 24px 150px 120px 150px;
}

.section-2,
.section-3,
.footer {
  padding: 24px 150px 24px 150px;
}

/* Section 2 */

.section-2 {
  display: flex;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding-bottom: 120px;
}

.section-2-left-container {
  flex: 1;
}

.section-2-right-container {
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: rgb(172, 171, 171);
}

.btn {
  background-color: #3882f6;
  border-radius: 5px;
  color: #f9faf8;
  margin-top: 12px;
  padding: 8px 30px 8px 30px;
  border: 0;
  font-weight: 700;
}

/* Section 3 */

.information-header {
  font-weight: 800;
  font-size: 36px;
  color: #1f2937;
  text-align: center;
  margin-bottom: 30px;
}

.section-3-content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.info {
  max-width: 150px;
  flex-shrink: 1;
}

.box {
  border: 3px #3882f6 solid;
  border-radius: 15px;
  width: 120px;
  height: 120px;
}

.box-text {
  margin-top: 10px;
  text-align: center;
  max-width: 130px;
  color: gray;
}
